body {
  background-image: url("assets/bg.jpg");
  height: 2220px;
  /*position: fixed;*/
  top: 0;
  left: 0;
}
.main{
  margin-left: 220px;
  margin-right: 220px;
}
div .socialmedia{
  height: 100px;
  display: inline;
  float: right
}
#subscribe{
  display: inline;
  margin-right: 150px;
  text-transform: uppercase;
  color: #ffffff;
}
.socialmedia ul{
  display: inline;
  height: 10px;
}
.socialmedia li{
  display: inline;
}
.socialmedia img{
  height: 50%;
  display: inline;
  border-bottom: 4px solid gray;
}
.main nav{
  text-align: center;
  text-decoration: none;
  display: inline;
  width: 450px;
  height:auto;
}
nav ul{
  padding-left: 0;
}
.main nav li{
  text-transform: uppercase;
  color: #ffffff;
  font-size: 23px;
  text-decoration: none;
  display: inline;
  background-color: #cf0000;
  border-bottom: 4px solid gray;
  /*margin-right: 8px;*/
}
.main ul{
  padding-top: 100px;
}
.camera{
  background-image: url("assets/top-image.png");
  background-repeat: no-repeat;
  background-size: 120%;
  z-index: 1;
  border: 6px solid #ffffff;
  position: relative;
  height: 300px;
  overflow: hidden;
  background-position: 0 -100px;
}
.circles{
  position: relative;
}
.circles ul{
  padding-top: 10px;
  padding-left: 48%;
  padding-right: 45%;
}
.circles li{
  display: inline;
}
.circles img{
  /*display: inline;*/
  height: 20px;
  border-bottom: 4px solid gray;
  border-radius: 25px;
}
.paragraphs{
  height: 300px;
  position: relative;
}
.two{
  margin-right: 2px;
}
section {
  display: inline block;
  vertical-align: top;
}
section p{
  color: #666666;
}
.col-1{
    width: 28%;
    float:left;
    background-image: url("http://i.imgur.com/HjLApHB.png");
    /*margin-right: 12px;*/
    border-bottom: 4px solid gray;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 4px;
}
.col-2{
  width: 29%;
  float:left;
  background-image: url("http://i.imgur.com/HjLApHB.png");
  /*margin-right: 12px;*/
  border-bottom: 4px solid gray;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 4px;
  margin-left: 4px;
}
.col-3{
  width: 29%;
  float:left;
  background-image: url("http://i.imgur.com/HjLApHB.png");
  /*margin-right: 12px;*/
  border-bottom: 4px solid gray;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 4px;
}
.readmore p{
  color: #cf0000;
  text-align: center;
  font-weight: bold;
}
