$brilliantwhite: #ffffff;
$peraltared: #cf0000;

html{
  font-size: 1em;
}
body {
  background-image: url("assets/bg.jpg");
  width: 100%;
  top: 0;
  left: 0;
  background-color: darkgray;
  background-blend-mode: darken;
  background-repeat: no-repeat;
}
.main{
  margin-left: 15%;
  margin-right: 15%;

}
div .socialmedia{
  width: 100%;
  display: inline;
  float: right
}
#subscribe{
  display: inline;
  float:right;
  align-items: center;
  padding-top: 2%;
  padding-right: 10%;
  text-transform: uppercase;
  color: $brilliantwhite;
}
.socialmedia ul{
  display: inline;
  width: auto;
}
.socialmedia li{
  display: inline;
}
.socialmedia img{
  width: 5%;
  float: right;
  margin-left: 5px;
  display: inline;
  border-bottom: 4px solid gray;
}
.main nav{
  text-align: center;
  text-decoration: none;
  display: inline;
  width: 450px;
  height:auto;
}
nav ul{
  padding-left: 0;
}
.main nav li{
  text-transform: uppercase;
  color: $brilliantwhite;
  font-size: 1.47em;
  text-decoration: none;
  display: inline;
  background-color: $peraltared;
  border-bottom: 4px solid gray;
}
.main ul{
  padding-top: 100px;
}
.camera{
  background-image: url("assets/top-image.png");
  background-repeat: no-repeat;
  background-size: 120%;
  z-index: 1;
  border: 6px solid $brilliantwhite;
  position: relative;
  height: 300px;
  overflow: hidden;
  background-position: 0 -100px;
}
.circles{
  position: relative;
}
.circles ul{
  padding-top: 10px;
  padding-left: 48%;
  padding-right: 45%;
}
.circles li{
  display: inline;
}
.circles img{
  height: 20px;
  border-bottom: 4px solid gray;
  border-radius: 25px;
}
.paragraphs{
  // height: 365px;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
.paragraphs p{
  color: #666666;
  line-height: 1.5;
}
.col-1{
    width: 29%;
    float:left;
    background-image: url("http://i.imgur.com/HjLApHB.png");
    border-bottom: 4px solid gray;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 4px;
}
.col-2{
  width: 28%;
  float:left;
  background-image: url("http://i.imgur.com/HjLApHB.png");
  border-bottom: 4px solid gray;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 4px;
  margin-left: 4px;
}
.col-3{
  width: 29%;
  float:left;
  background-image: url("http://i.imgur.com/HjLApHB.png");
  /*margin-right: 12px;*/
  border-bottom: 4px solid gray;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 4px;
}
.readmore p{
  color: $peraltared;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
.skateboarders{
  background-color: $peraltared;
  float: left;
  margin-left: -220px;
  margin-top: 60px;
  margin-right: 20px;
  border-bottom: 4px solid gray;

}
.skateboarders h2{
  color: $brilliantwhite;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
div .photocenter{
  width: 650px;
  position: relative;
  margin-right: 0;
  margin-bottom: 20px;
  float: left;
}
.lance img{
  float: left;
  border: 5px solid $brilliantwhite;
  width: 96%;
  margin-right: 7px;
  margin-bottom: 5px;
}
.lance{
  // width: 325px;
  width: 325px;

}
.lance li{
  display: inline;
  position: absolute;
  color: #ffffff;
  text-align: center;
  padding-top: 40px;
  margin-left: 50px;
  font-size: 40px;
  font-weight: bold;
}
.rodney img{
  float: left;
  border: 5px solid $brilliantwhite;
  width: 47.6%;
  margin-bottom: 5px;
}
.rodney li{
  display: inline;
  position: absolute;
  color: $brilliantwhite;
  text-align: center;
  padding-top: 40px;
  margin-left: 70px;
  font-size: 40px;
  font-weight: bold;
}
.steve{
  float: left;
  width: 644px;
  height: 300px;
  overflow: hidden;
  border-right: 5px solid $brilliantwhite;
  border-bottom: 5px solid $brilliantwhite;
}
.steve img{
  float: left;
  border: 5px solid $brilliantwhite;
  margin-right: 4px;
  width: 110%;
  overflow: hidden;

}
.steve li{
  display: inline;
  position: absolute;
  color: $brilliantwhite;
  text-align: center;
  padding-top: 130px;
  margin-left: 150px;
  font-size: 40px;
  font-weight: bold;
}
.tommy{
  position: relative;
  float: right;
  width: 32%;
  overflow: hidden;
  border-left: 5px solid $brilliantwhite;
  border-right: 5px solid $brilliantwhite;
}
.tommy img{
    float: right;
    border: 5px solid $brilliantwhite;
    margin-right: -115px;
    width: 274%;
    overflow: hidden;
}
.tommy li{
  display: inline;
  padding-top: 190px;
  position: absolute;
  color: $brilliantwhite;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.skateboards{
  position: relative;
  display: inline;
  float: left;
  height: 300px;
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
}
.skateboards ul{
  display: inline;
  padding-left: 35px;
  /*padding-top: 15px;*/
  /*float: left;*/
}
.skateboards li{
  display: inline;
  margin-right: 28px;
  /*margin-top: 15px;*/
}
.skateboards img{
  border-radius: 120px;
  /*width: 63px;
  height: 265px;*/
  display: inline;
  padding-top: 20px;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
  /*z-index: -1;*/
}
 .skateboards img:hover{
   /*cursor: pointer;*/
  -webkit-transform:scale(1.25); /* Safari and Chrome */
  -moz-transform:scale(1.25); /* Firefox*/
  -ms-transform:scale(1.25); /* IE 9 */
  -o-transform:scale(1.25); /* Opera */
  transform: scale(1.25);

}
.footer{
  position: relative;
  height: 365px;
  width: 466px;
  background-image: url("http://i.imgur.com/HjLApHB.png");
  border-bottom: 4px solid gray;
  float: left;
  padding-left: 30px;
  padding-right: 20px;
}
.footer h3{
  float: left;
  margin-top: 30px;
  font-weight: bold;
  font-size: 24px;
  color: #666666;
}
.footer p{
  float: left;
  color: #666666;
  line-height: 1.5;
  font-size: 18px;
  /*margin-right: 20px;*/
}
.footer ul{
  float: left;
  display: inline;
  padding-top: 20px;
  padding-left: 1px;
}
.footer li{
  display: inline;
}
.footer img{
  height: 35px;
  display: inline;
  float: left
}

.form{
  padding-top: 40px;
  position: relative;
  height:325px;
  width: 468px;
  float: right;
  background-image: url("http://i.imgur.com/HjLApHB.png");
  border-bottom: 4px solid gray;
}
#input1 {
border-left: 4px solid gray;
}
#input2 {
border-left: 4px solid gray;
font-size: 18px;
}
#input3 {
border-left: 4px solid gray;
font-size: 18px;
}
.submission{
  float: right;
  margin-right: 46px;
}

// ************************************
// ipad  w750px, h920px
@media (min-width: 321px) and (max-width: 770px) {
  #subscribe{
    display: none;
    }
  .socialmedia{
      float: none;
    }
  .socialmedia img{
      float: none;
      width: 10%;
      margin-left: 12%;
    }
  .main ul{
      padding: 0;
    }
  .main nav li{
      text-transform: uppercase;
      font-size: .7em;
    }
  .camera{
      height: 200px;
      overflow: hidden;
      background-position:left;
    }
  #logo{
    width: 50%;
  }
  .paragraphs{
    margin-top: 5px;
    width: 100%;
      h3{
        font-size: .8em;
        display: inline block;
      }
      .cols{
        width: 26.8%;
        border: 4px solid gray;
        padding-left: 2%;
        padding-right: 2%;
      }
      .readmore{
        font-size: .8em;
    }
      .cols p{
        font-size: .5em;
      }
  }

  .circles{
    display: none;
  }
  .steve{
    display: none;
  }
  .tommy{
    display: none;
  }

div .photocenter {
    width: 100%;
    margin-bottom: 0;
}

  .twop {
    width: 100%;
    margin-top: 5px;
      .lance{
          width:102%;
          li{
            font-size: 2em;
            margin-left: 15%;
          }
      }
      .rodney{
        width: 206%;
        float:left;

          li{
            font-size: 2em;
            margin-left: 55%;
          }
      }
  }
  .skateboarders{
    display: none;
  }
  .skateboards{
    height:auto;
    padding-top: -5px;
    align-items: center;
    li {
      padding-left: 2.1%;
      align-items: center;
      padding-right: 0;
      margin-right: 0;
    }
    img {
      width: 7%;
    }
  }
  .footer{
      display: none;
    }
    .form{
  display: none;
  }
}

// ******************************
// iphone w310px, h352px
@media (max-width: 320px){
  .circles{
    display: none;
  }
  .skateboarders{
    display: none;
  }
  .footer{
        display: none;
  }
  .form{
    display: none;
  }
  #subscribe{
    display: none;
    }
    .socialmedia{
        float: none;
      }
    .socialmedia img{
        float: none;
        width: 10%;
        margin-left: 12%;
      }
    .main ul{
        padding: 0;
      }
    .main nav li{
        text-transform: uppercase;
        font-size: .8em;
      }
      .camera{
          height: 100px;
          overflow: hidden;
          background-position:left;
        }
      #logo{
        width: 50%;
      }
      .paragraphs{
        margin-top: 5px;
        width: 100%;
        height: auto;
          h3{
            font-size: .7em;
            display: inline block;
          }
          .cols{
            width: 85%;
            // height: 100%;
            border: 4px solid gray;
            padding-left: 6%;
            padding-right: 2%;
          }
          .col-1{
            margin-left: 4px;
          }
          .cols p{
            display: none;
            // font-size: .5em;
          }
          .readmore p{
            font-size: .6em;
        }
      }
      .photocenter{
        display: none;
      }
      .tommy{
        margin-top: 5px;
        margin-bottom: 5px;
        width: 91%;
        padding-right: 10px;
          li{
            font-size: 1.1em;
            padding-left:8%;
          }
      }
      .skateboards{
        height:auto;
        padding-top: -5px;
        align-items: center;
        li {
          padding-left: 2.1%;
          align-items: center;
          padding-right: 0;
          margin-right: 0;
        }
        img {
          width: 15%;
        }
        #dns{
          display: none;
        }
      }

}
